langchain
langchain-core
langchain-community
pypdf2
pypdf
python-dotenv
pandas
wasabi
tqdm
spacy
tiktoken
pillow
beautifulsoup4
matplotlib
numpy
plotly
tabulate
openpyxl
nbformat

huggingface_hub
transformers
sentencepiece

langchain-openai
langchain_openai
langchain-mistralai
langchain-groq
langchain-ollama
langchainhub 
langchain_experimental
langchain-chroma
langgraph
